body{
    font-family: Roboto, sans-serif;
}

footer{
    text-align:center;
    background: grey;
    margin:0 auto;
    width:100%;
    color: #a5998b;
    height:5%;
}
.js-zilch{
    overflow:none;
}
.navcolor{
    background: dodgerblue;
}
.foot{
   margin: 0 5%;
   text-align:center;
}
.logo{
    width:100px;
    
}
.zhead{
    font-size:18px;
    color:darkmagenta;
    margin-left:2%;
}
.social{
    color:#000;
    text-align:center;
}
.game-container{
    color:#ccc;
    overflow:auto;
}
.zlogo{
    width:200px;
    clear:both;
    background:#fff;

}
.diceProps{
    width:30px;

}
.big-dog{
    color:blue;
    font-weight:bolder;
}
.diceCup{
    background:#333;
}
.clickable{
    float:left;
}